@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<!DOCTYPE HTML>

<html>
<head>
    <title>About Us</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
</head>
<body>


    <header id="header">
        <div class="logo"><a href="#">About Us <span>by PC Builders</span></a></div>
    </header>


    <section id="main">
        <div class="inner">


            <section id="one" class="wrapper style1">

                <div class="image fit flush">
                    <img src="https://www.digitalstorm.com/img/desktops-2019-1-2-A.jpg" alt="Custome PCs" />
                </div>
                <header class="special">
                    <h2>PC Builders</h2>
                    <p>WE BUILD WORKSTATIONS WHICH GET YOUR JOB DONE</p>
                </header>
                <div class="content">
                    <p><h3> Let us focus on your hardware, so you spend more time focusing on your Dreams. </h3></p>
                    <p>Here at PC Builders, we focus on delivering best hardware which is unique to your requirements, and not just providing generic system which one size fits all.</p>
                    <p>From providing the customers with state of the art hardware along with the warranty, maintaining and repairing the components and future-proofing your hardware to accelerate business for growth, you can entrust our expert team to look after your hardware.</p>
                </div>
            </section>


            <section id="two" class="wrapper style2">
                <header>
                    <h2>PC Builders</h2>
                    <p>Some of the Cool setups we have built</p>
                </header>
                <div class="content">
                    <div class="gallery">
                        <div>
                            <div class="image fit flush">
                                <a href="https://gaameover.com/wp-content/uploads/2017/03/001.png"><img src="https://gaameover.com/wp-content/uploads/2017/03/001.png" alt="" /></a>
                            </div>
                        </div>
                        <div>
                            <div class="image fit flush">
                                <a href="https://gaameover.com/wp-content/uploads/2017/03/009.png"><img src="https://gaameover.com/wp-content/uploads/2017/03/009.png" alt="" /></a>
                            </div>
                        </div>
                        <div>
                            <div class="image fit flush">
                                <a href="https://gaameover.com/wp-content/uploads/2017/03/018.png"><img src="https://gaameover.com/wp-content/uploads/2017/03/018.png" alt="" /></a>
                            </div>
                        </div>
                        <div>
                            <div class="image fit flush">
                                <a href="https://gaameover.com/wp-content/uploads/2017/03/028.png"><img src="https://gaameover.com/wp-content/uploads/2017/03/028.png" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section id="three" class="wrapper">
                <div class="spotlight">
                    <div class="image flush"><img src="https://www.researchgate.net/profile/Schubert_Carvalho/publication/275949439/figure/fig1/AS:294498530807817@1447225329805/Experiment-setup-showing-the-game-interaction-environment-This-figure-shows-one-of-the.png" alt="" /></div>
                    <div class="inner">
                        <h3>Customer1</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, mollitia consequuntur fugit culpa, dolore itaque minus repellendus a veritatis ipsum amet modi officia impedit neque vero. Illo corrupti laboriosam voluptatum?</p>
                    </div>
                </div>
                <div class="spotlight alt">
                    <div class="image flush"><img src="https://www.gamedesigning.org/wp-content/uploads/2015/07/lead-game-designers.jpg" alt="" /></div>
                    <div class="inner">
                        <h3>Customer2</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia tempora aliquam recusandae voluptatem repellat quod, iste ducimus sunt cum tempore tenetur voluptas exercitationem ab dolor vel explicabo doloribus temporibus laudantium?.</p>
                    </div>
                </div>
                <div class="spotlight">
                    <div class="image flush"><img src="https://netmateit.com/wp-content/uploads/2019/04/office-setup.png" alt="" /></div>
                    <div class="inner">
                        <h3>Customer3</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium esse vero maiores nemo quo deleniti porro illo fuga ipsum aliquid eum, dolorum veniam, corporis officia explicabo odit exercitationem modi sunt.</p>
                    </div>
                </div>
            </section>

        </div>
    </section>


    <footer id="footer">
        <div class="container">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
        </div>
        <div class="copyright">
            &copy; 2019. PC Builders. All rights reserved.
        </div>
    </footer>


    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.poptrox.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>

</body>
</html>