@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>

<html>
<head>
    <title>PC Builder</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/assetsi/css/main.css" />
</head>
<body>
    <!-- Banner -->
    <div>
        <section class="banner full">
            <article>
                <img src="~/images/1.jpg" alt="" />
                <div class="inner">
                    <div class="carousel-caption" role="option">
                        <p>
                            All our products come with exted warrenty and services.
                            <a class="btn btn-primary" href="http://localhost:6701/Product/List">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
            </article>
            <article>
                <img src="~/images/2.jpg" alt="" />
                <div class="inner">
                    <div class="carousel-caption" role="option" style="align-content:stretch">
                        <p>
                            Cheapest price in the market.
                            <a class="btn btn-primary" href="http://localhost:6701/Product/List">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
            </article>
            <article>
                <img src="~/images/3.jpg" alt="" />
                <div class="inner">
                    <div class="carousel-caption" role="option">
                        <p>
                            We sell only the best products.
                            <a class="btn btn-primary" href="http://localhost:6701/Product/List">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
            </article>
            <article>
                <img src="~/images/4.jpg" alt="" />
                <div class="inner">
                    <div class="carousel-caption" role="option">
                        <p>
                            Build your own workstaaation which destroys .
                            <a class="btn btn-primary" href="http://localhost:6701/Product/List">
                                Learn More
                            </a>
                        </p>
                    </div>
                </div>
            </article>
        </section>
    </div>

    <!--Customer Review-->
    <div  style="background-color:lawngreen">
        <link rel="stylesheet" href="~/assets/css/main.css" />
        <section id="three" class="wrapper">
            <div class="spotlight">
                <div class="image flush"><img src="https://static.techspot.com/images2/news/bigimage/2019/05/2019-05-06-image-2.jpg" alt="" /></div>
                <div class="inner">
                    <h3>Tech Gamers</h3>
                    <p>"We thank the PC Builders for buildign this customised PC which my team used to win the tournament. The CPU is integrated into the desk with a liquid cooling system and a black and white texture. This is literally a gaming desk setup. This classic looking setup is powered with a beast as GPU, Nvidia GTX TitanX. All in all, the set up gives a cool frosty look. You Need some saw tool & nailer to make better desks." </p>
                </div>
            </div>
            <div class="spotlight alt">
                <div class="image flush"><img src="https://www.gamedesigning.org/wp-content/uploads/2015/07/lead-game-designers.jpg" alt="" /></div>
                <div class="inner">
                    <h3>Graphics Designer -Tony</h3>
                    <p>Red in black, this setup has a theme of Naruto which if you are a fan of, then you will surely find this setup quite intriguing. This awesome gaming setup comes with Core i7-4790K with GTX 980 on top of that, this setup puts 5 displays which might seem excessive to some, but it is quite a fascinating setup to go for. </p>
                </div>
            </div>
            <div class="spotlight">
                <div class="image flush"><img src="https://netmateit.com/wp-content/uploads/2019/04/office-setup.png" alt="" /></div>
                <div class="inner">
                    <h3>Texas Machine</h3>
                    <p>We thank the PC Builder. The Setup is easy to assemble, highly adjustable, and incredibly stable even at its full height. During testing, it didn’t wobble or feel like it would fall forward or backwards. It accommodates people up to 6 feet 5 inches tall, and its lifting motor allows for smooth adjustment. The Jarvis Bamboo also makes for a durable sitting desk. It’s available in a few configurations, but we like the setup which includes a programmable memory handset and the 60-inch rectangular bamboo top with corner cutouts for wires.</p>
                </div>
            </div>
        </section>
    </div>




  <div style="background-color:whitesmoke">
      <div class="row">
          <div class="col-md-5">
              <h2>Why become a Member </h2>
              <ul>
                  <h3>Enjoy the benefits such as:</h3>
                  <li>Get coupons via email and sms</li>
                  <li>Get great discounts</li>
                  <li>To Register click <a href="http://localhost:6701/Account/Register">Register</a></li>
              </ul>
          </div>
          <div class="col-md-5">
              <h2>Already a Member </h2>
              <ul>
                  <h3>Get highest quality products across New Zealand</h3>
                  <li>Get coupons via email and sms</li>
                  <li>Get great discounts</li>
                  <li>To Start buying the best hardware <a href="http://localhost:6701/Account/Login">Log In</a></li>
              </ul>
          </div>
          <!--
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>-->
      </div>
   </div>
    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <!--<ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>-->
        </div>
        <div class="copyright">
            &copy; 2019. PC Builders. All rights reserved.
        </div>
    </footer>
    <script src="~/assetsi/js/jquery.min.js"></script>
    <script src="~/assetsi/js/jquery.scrollex.min.js"></script>
    <script src="~/assetsi/js/skel.min.js"></script>
    <script src="~/assetsi/js/util.js"></script>
    <script src="~/assetsi/js/main.js"></script>
</body>
</html>