
@{
    ViewData["Title"] = "Location";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Locations of PC Builder</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/assetsl/css/main.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body id="top">

    <!-- Banner -->
    <section id="banner" data-video="images/banner">
        <div class="inner">
            <header>
                <h1>PC Builders</h1>
                <p>
                    Come and check out our six stores in North Island.

                </p>
            </header>
            <a href="#main" class="more">Learn More</a>
        </div>
    </section>

    <!-- Main -->
    <div id="main">
        <div class="inner">

            <!-- Boxes -->
            <div class="thumbnails">

                <div class="box">
                    <a><img class="image fit" src="~/LI/CBD.JPG" alt="" /></a>
                    <div class="inner">
                        <h3>City Center</h3>

                        <a href="https://www.google.com/maps/place/PB+Tech+Auckland+CBD" target="_blank" class="btn btn-info" role="button">Get Directions</a>
                    </div>
                </div>

                <div class="box">
                    <a><img class="image fit" src="~/LI/hamilton.JPG" alt="" /></a>
                    <div class="inner">
                        <h3>Hamilton</h3>

                        <a href="https://www.google.com/maps/place/PB+Tech+Hamilton" target="_blank" class="btn btn-info" role="button">Get Directions</a>
                    </div>
                </div>

                <div class="box">
                    <a><img class="image fit" src="~/LI/henderson.JPG" alt="" /></a>
                    <div class="inner">
                        <h3>Henderson</h3>

                        <a href="https://www.google.com/maps/place/PB+Tech+Henderson" target="_blank" class="btn btn-info" role="button">Get Directions</a>
                    </div>
                </div>

                <div class="box">
                    <a><img class="image fit" src="~/LI/northshore.JPG" alt="" /></a>
                    <div class="inner">
                        <h3>North Shore</h3>

                        <a href="https://www.google.com/maps/place/PB+Tech+North+Shore" target="_blank" class="btn btn-info" role="button">Get Directions</a>
                    </div>
                </div>

                <div class="box">
                    <a><img class="image fit" src="~/LI/Penrose.JPG" alt="" /></a>
                    <div class="inner">
                        <h3>Penrose</h3>

                        <a href="https://www.google.com/maps/place/PB+Tech+Penrose" target="_blank" class="btn btn-info" role="button">Get Directions</a>
                    </div>
                </div>

                <div class="box">
                    <a><img class="image fit" src="~/LI/UNIJPG.JPG" alt="" /></a>
                    <div class="inner">
                        <h3>University of Auckland</h3>

                        <a href="https://www.google.com/maps/place/PB+Tech+Auckland+Uni" target="_blank" class="btn btn-info" role="button">Get Directions</a>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <!-- <h2>Etiam veroeros lorem</h2>
             <p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec. Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat venenatis. </p>

             <ul class="icons">
                 <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                 <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                 <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                 <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
             </ul>-->
            <p class="copyright">&copy;2019. PC Builders. All rights reserved..</p>
        </div>
    </footer>

    <!-- Scripts
    <script src="~/assetsl/js/jquery.min.js"></script>
    <script src="~/assetsl/js/jquery.scrolly.min.js"></script>
    <script src="~/assetsl/js/jquery.poptrox.min.js"></script>
    <script src="~/assetsl/js/skel.min.js"></script>
    <script src="~/assetsl/js/util.js"></script>
    <script src="~/assetsl/js/main.js"></script>
     -->
</body>
</html>

